<div class="quiz_container">
    <div class="quiz_logo">
        <img src="assets/logo.png" alt="">
        <h1>{{title}}</h1>
    </div>
    <div *ngIf=!finished class="quiz_question">
        <h3>{{questionSelected.question}}</h3>
    </div>
    <div *ngIf=!finished class="quiz_options">
        <button
        *ngFor="let option of questionSelected.options; let i = index"
        (click)="playerChoose(option.alias)"
        class="btn-option"
      >
        {{option.name}}
      </button>
    </div>
    <div *ngIf=finished class="quiz_results">
        <h1>O Seu resultado é:</h1>
        <img class="result_img" src={{answerPhoto}} alt="">
        <p>{{answerSelected}}</p>
        <button (click)="refreshPage()">Refazer</button>
      </div>
</div>